
html, body { width:100%; height:100%;}
#wrapper { width: 100%; height: 100%; max-width: 100%; min-width: initial;}

#bigpicture{
  width: 100%;
  height: 100%;


  .background-image {
    img{
      display: none;
    }
  }

}
