@import 'base.less';

/* delete or comment what you don't need */
@import 'lib/smo-boilerplate-theme.less';
@import 'lib/smo-forms-basics.less';
@import 'lib/smo-glide-basics.less';
@import 'lib/smo-glide-th-version.less';
@import 'lib/smo-mixins.less';
@import 'lib/smo-piktos-toolbar-th.less';
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
/* end config */

/* typo */
body, input, select, textarea, button { font-family: Arial, sans-serif; font-weight: 400; color: #000000; }
abbr, acronym, dfn { font-variant: normal; border-bottom: 1px solid #E5E5E5; cursor: help; }

h1 {
    font-size: 2em;
	margin-bottom: 0.67em;
}

h2 {
    font-size: 1.5em;
	margin-bottom: 0.83em;
}

h3 {
    font-size: 1.17em;
    margin-bottom: 1em;
}

h4 {
    font-size: 1em;
    margin-bottom: 1.33em;
}

h5 {
    font-size: 0.83em;
    margin-bottom: 1.67em;
}

h6 {
    font-size: 0.67em;
    margin-bottom: 2.33em;
}

a { text-decoration: none; }
hr { }
abbr { }
strong, b { font-weight: bold; }
small { font-size: 82%; line-height: 130%; }

p, ul, ol {  margin-bottom: 1.33em; }
ul ul, ol ol { margin-bottom: inherit; font-size: inherit; }

img[align=left] {

}
img[align=right] {

}

/* Layout Basics */
.row{
  .clearfix();

	display: block;
	.col-1-2, .col-2-2{
		width: 50%;
		float: left;
	}

	.col-1-3, .col-2-3, .col-3-3{
		width: 33.3%;
		float: left;
	}

}

/* Layout */
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

#wrapper { max-width: 960px; margin-right: auto; margin-left: auto; margin-bottom: 2em; background-color: #ffffff;}

header {
	#logo {

	}
	nav {
    ul {
      list-style: none;
      li {
        display: inline-block;
      }
    }
	}
}


main {

}

footer {

	}

@media screen and (orientation:portrait),
screen and (device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1),
screen and (device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2),
screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2),
screen and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait),
screen and (max-width: 942px) {

}
