main {
  section {
    padding: 10px;
    min-height: 100px;
  }
  section:nth-of-type(odd) {
    background-color: #00958f;
    color: #fff;
  }
  section:nth-of-type(even) {
    background-color: #fbfafc;
    color: #484848;
  }
}
