.slider {
  .slides {
    .slide {
      -webkit-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      min-height: 600px;
    }
  }
}
